<div class="container">
    <h3>{{site.sec31}}</h3>
    <p>{{site.sec7}}</p>
    <div class="list-section">
        <h4>Google Inc.</h4>
        <hr/>
        <div class="subtitle">May 2018 – Aug. 2018, Software Engineering Intern</div>
        <ul class="feature-icons">
            <li class="fa-users"><i>Team:</i> Google Local Services phone team of Google Ads Search.</li>
            <li class="fa-cubes"><i>Stack:</i> Dialogflow, Firebase, Google Cloud Functions, NodeJS, Java, protocol buffer, RPC.</li>
            <li class="fas fa-code">
                <i>Tasks:</i>
                <p>
                    &#10004;&nbsp;&nbsp;Designed and implemented conversation flow for an automatic phone operator prototype.<br/>
                    &#10004;&nbsp;&nbsp;Deployed and integrated conversation into actual phone call stream; finished E2E tests within very limited amount of time.<br/>
                    &#10004;&nbsp;&nbsp;Built an intermediate proxy server that allows information exchange between external and internal servers.<br/>
                </p>
            </li>
        </ul>
    </div>
</div>