<div class="container">
  <!-- <header class="major"> -->
    <h3>{{site.nav4}}</h3>
  <!-- </header> -->
  <div class="list-section">
        <h4>University of Pennsylvania</h4>
        <hr/>
        <div class="subtitle">Spring 2019, Teaching Assistant</div>
        <ul class="feature-icons">
            <li class="fa-book"><i>Course:</i> Crowdsourcing & Human Computation – NETS 213</li>
        </ul>
    </div>
    <div class="list-section">
        <h4>University of Pennsylvania</h4>
        <hr/>
        <div class="subtitle">Fall 2018 & Summer 2019, Teaching Assistant</div>
        <ul class="feature-icons">
            <li class="fa-book"><i>Course:</i> Artificial Intelligence - CIS 421/521</li>
        </ul>
    </div>
    <div class="list-section">
        <h4>University of Pennsylvania</h4>
        <hr/>
        <div class="subtitle">Fall 2017, Teaching Assistant</div>
        <ul class="feature-icons">
            <li class="fa-book"><i>Course:</i> Data Structures and Algorithms - CIS 121</li>
        </ul>
    </div>
</div>
