<div class="container">
  <!-- <header class="major"> -->
    <h3>{{site.nav4}}</h3>
  <!-- </header> -->
  <div class="list-section">
    <h4>Teaching Assistant at the University of Pennsylvania</h4>
    <hr class="alone"/>
    
    <ul class="feature-icons">
        <li class="fa-book"><i>Course:</i> <a href="http://artificial-intelligence-class.org/index.html">Artificial Intelligence - CIS 421/521</a>, <span class="subtitle">Fall 2018 & Summer 2019</span></li>
        <li class="fa-book"><i>Course:</i> <a href="http://crowdsourcing-class.org/">Crowdsourcing & Human Computation – NETS 213</a>, <span class="subtitle">Spring 2019</span></li>
        <li class="fa-book"><i>Course:</i> <a href="https://www.seas.upenn.edu/~cis121/current/index.html">Data Structures and Algorithms - CIS 121</a>, <span class="subtitle">Fall 2017</span></li>
    </ul>
  </div>

  <div class="list-section">
    <h4>Undergrad Mentoring at the University of Pennsylvania</h4>
    <hr class="alone"/>
    
    <ul class="feature-icons">
        <li class="fa-users">Women in Computer Science / NLP research, <span class="subtitle">Spring 2019</span></li>
    </ul>
  </div>
</div>
