<div class="container">
  <!-- <header class="major"> -->
    <h3>{{site.nav1}}</h3>
    <p>
    I am a third year Ph.D. student at the University of Pennsylvania. Professor <a href="http://www.cis.upenn.edu/~ccb/">Chris Callison-Burch</a> is my advisor. My research area is Computational Linguistics, or Natural Language Processing (NLP). Specifically, I have great passion towards the subarea Machine Translation, especially the topic of domain adaptation. My research involves many interesting topics in NLP, such as hierarchical text clustering, building machine translation models, exploration of parallel phrase translation from non-parallel corpora, etc.
	</p>

	<p>
	Currently, I have been doing a project that aims to cluster adjectives from <a href="http://paraphrase.org/">Paraphrase Database (PPDB)</a>. Many of the adjectives can be lined up on a scale and get scored, so we call them scalar adjectives. Clustering and getting measurement of scalar adjectives are beneficial from many aspects. For example, it could help with the semantic understanding of sentences and contributes to other NLP topics like Aspect-based Sentiment Analysis. During the experiments, we collected valuable data for evaluation with Crowdsourcing, which is also an interesting and an emerging field. It is always a nice and practical tool that can help acquire good research data. 
	</p>

</div>
