<div class="container">
    <h3>{{site.nav2}}</h3>
    <div class="list-section">
        <h4>University of Pennsylvania (Current, Ph.D. Student)</h4>
        <hr class="alone"/>
        <ul class="feature-icons">
            <li class="fa-book"><i>Major:</i> Computer & Information Science (3.84/4.00)</li>
            <li class="fa-flask"><i>Research area:</i> Natural Language Processing</li>
            <li class="fa-map-signs"><i>Advisor:</i> Chris Callison-Burch</li>
        </ul>
    </div>
    <div class="list-section">
        <h4>Columbia University (Feb. 2016, Master of Science)</h4>
        <hr class="alone"/>
        <ul class="feature-icons">
            <li class="fa-book"><i>Major:</i> Computer Science (3.73/4.00)</li>
            <li class="fa-map-signs"><i>Advisor:</i> Rebecca Passonneau</li>
        </ul>
    </div>
    <div class="list-section">
        <h4>Beijing University of Technology (Jul. 2013, Bachelor of Science)</h4>
        <hr class="alone"/>
        <ul class="feature-icons">
            <li class="fa-book"><i>Major:</i> Computer Science (3.93/4.00)</li>
            <li class="fa-map-signs"><i>Advisor:</i> Yongping Du</li>
        </ul>
    </div>
</div>