<div class="container">
  <!-- <header class="major"> -->
    <h3>{{site.nav5}}</h3>
  <!-- </header> -->
  <ul>
  	<li>
  		<a href="https://www.sciencedirect.com/science/article/pii/S0885230816302157#b1"><b>Prediction of a hotspot pattern in keyword search results.</b></a> <span class="author">Jie Gao</span>, Axinia Radeva, Chuyao Shen, Shiqi Wang, Qianbo Wang, Rebecca Passonneau. <i>Computer speech & language, 2018, Vol.48.</i>
  	</li>
  	<li>
		<a href="https://www.aclweb.org/anthology/D17-1152"><b>Learning Translations via Matrix Completion.</b></a> Derry Wijaya, Brendan Callahan, John Hewitt, <span class="author">Jie Gao</span>, Xiao Ling, Marianna Apidianaki and Chris Callison-Burch. <i>EMNLP 2017.</i>
  	</li>
  </ul>
</div>
