<div class="container">
    <h3>{{site.sec4}}</h3>
    <p>{{site.sec5}}</p>
    <div class="list-section">
        <h4>University of Pennsylvania</h4>
        <hr/>
        <div class="subtitle">Current, Ph.D. Student (3.84/4.00)</div>
        <ul class="feature-icons">
            <li class="fa-book"><i>Study:</i> Computer & Information Science</li>
            <li class="fa-flask"><i>Research area:</i> Natural Language Processing</li>
            <li class="fa-map-signs"><i>Advisor:</i> Chris Callison-Burch</li>
        </ul>
    </div>
    <div class="list-section">
        <h4>Columbia University</h4>
        <hr/>
        <div class="subtitle">Feb. 2016, Master of Science (3.73/4.00)</div>
        <ul class="feature-icons">
            <li class="fa-book"><i>Study:</i> Computer Science</li>
            <li class="fa-map-signs"><i>Advisor:</i> Rebecca Passonneau</li>
        </ul>
    </div>
    <div class="list-section">
        <h4>Beijing University of Technology</h4>
        <hr/>
        <div class="subtitle">Jul. 2013, Bachelor of Science (3.93/4.00)</div>
        <ul class="feature-icons">
            <li class="fa-book"><i>Study:</i> Computer Science</li>
            <li class="fa-map-signs"><i>Advisor:</i> Yongping Du</li>
        </ul>
    </div>
</div>